<h1 class="project-name" ng-click="goHome()">Fábio Rogério SJ</h1>
<img class="profile" src="images/fabiorogeriosj.png" alt="Fábio Rogério SJ" ng-click="goHome()">
<h2 class="project-tagline">Endoidecido por tecnologia :)</h2>
<a href="https://facebook.com/fabiorogeriosj" target="_blank" class="btn">Facebook</a>
<a href="https://twitter.com/fabiorogeriosj" target="_blank" class="btn">Twitter</a>
<a href="https://www.linkedin.com/profile/view?id=80115964" target="_blank" class="btn">Linkedin</a>
<a href="https://github.com/fabiorogeriosj" target="_blank" class="btn">GitHub</a>
<h5>Email, Skype, gTalk: fabio.rogerio.sj@gmail.com</h5>